artifact
venv
env
.git/
.gitignore
logs
template.py
demo.py
README.md
LICENSE
src.egg.-info
notebook

vehicle/
__pycache__/
*.pyc
*.pyo
*.pyd


artifact/
logs/
notebook/

tests/

.env

.pytest_cache/
ruff_cache/